* {
    box-sizing: border-box;
    --title-font-color: #222;
    --text-font-color: #000;
    --light-font-color: #7a7a7a;
}



/* 
*
* HEADER
*
 */

header {
    position: absolute;
    /* top: 10px; */
    color: white !important;
    z-index: 1;
    width: 100%;
}

html,body{
    margin:0;
    height:100%;
}

/* Button Toggler Color */
/* Button Toggler Color */
.custom-toggler.navbar-toggler {
    border-color: #fff;
    border: none;
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}


.image-width {
  display:block;
  width:100%; height:100%;
  object-fit: cover;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  z-index: 99;
}  

.image-logo {
    width: 100px;
    height: 34px;

}

.nav-link {
    color: white;
}

/* 
*
* MAIN
*
 */

.fa-paint-brush {
    font-size: 46px;
    margin-bottom: 20px;
}
.fa-tablet-alt {
    font-size: 46px;
    margin-bottom: 20px;
}
.fa-cogs {
    font-size: 46px;
    margin-bottom: 20px;
}

.margin-top {
    margin-top: 50px;
}

.bottom-item {
    margin-bottom: 10px;
}

.text-icons {
    padding: 10px;
    padding-top: 14px;
    font-size: 15px;
}

.title-icons {
    font-size: 19px;
}

.margin-icons {
    margin-bottom: 20px;
    margin-top: 10px;
}

h4 {
    color: var(--text-font-color) !important;
}


/* 
*
* About us
*
 */

 .section-grey {
     background-color: #eeeeee;
 }

 h2 {
     color: var(--title-font-color) !important;
 }

 .light-text {
     color: var(--light-font-color);
 }

 .title-text {
     font-size: 51px;
 }

 hr {
     background-color: black;
     height: 1px !important;
 }

 



 /* 
 *
 * CARDS
 *
  */

.card-header {
    background-color: #6068ff !important;
}

h5 {
    color: white !important; 
    letter-spacing: 5px;
    padding-bottom: 15px;
}

.price {
    color: white !important;
    font-size: 62px;
}

.price-min {
    font-size: 18px;
    vertical-align: text-top;

}

ul {
    list-style: none;
    padding-top: 10px;
    padding-bottom: 10px;
    /* margin-left: 24%; */
}

li {
    padding: 5px;
}

.fa-check {
    color: #6ec1e4;
}

.card-dimensions {
    margin-top: 50px;
    min-width: 250px;
    
}

.height-title {
    margin-top: 70px;
}

.margin-services {
    margin-bottom: 35px;
}

.card {
    border-radius: 8px !important;
}

.card-header {
    border-radius: 8px 8px 0px 0px !important;
    box-shadow: 0px -1px 10px 0px rgba(0, 0, 0, .5);
    padding-top: 25px !important;
}

.card-body {
    box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, .5);
}

.card-pro {
    /* padding-top: 30px !important; */
}

.btn-primary {
    background-color: #61ce70 !important;
    border-color: #61ce70 !important;
    padding-left: 30px !important;
    padding-right: 30px !important;
    border-radius: 10px !important;
}

.button-dimensions {
    margin-bottom: 20px;
}

.cards-fix {
    margin-bottom: 90px;
}

/* 
*
* WHY US
*
 */

 .title-text-2 {
    font-size: 34px;
}

.subtitle-text {
    font-weight: bold;
    font-size: 15px;
}

.fa-thumbs-up {
    font-size: 43px;
    color: black;
    margin-top: 60px;
}

.fa-dollar-sign {
    font-size: 43px;
    color: black;
    margin-top: 60px;
}

.check {
    color: black;
    font-size: 43px;
    margin-top: 60px;
}

.container-us {
 margin-top: 30px;
}

.text-padding {
    padding-top: 30px;
}

.margin-greybox-2 {
    padding-bottom: 40px;
}

.text-us {
    font-size: 15px;
}











/* Media Querie Header */
@media (max-width: 576px) {
    .image-width {
        display:block;
        width:100%; height:100%;
        object-fit: cover;
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
        z-index: 99;
      }  

      .card-dimensions {
        margin-top: 50px;
        margin-left: 15px;
        margin-right: 15px;
    }

    .margin-icons {
        margin-bottom: 0px;
        margin-top: 10px;
    }
}